@model WebApp.Models.Post

<div class="baseForm">
    <div class="content">
        <div class="img_content">
            <a asp-action="Details" asp-controller="Home" asp-route-id="@Model.Id">
                <div class="imageForm">
                    <img src="@Url.Content(@Model.PathToImage)" alt="@Model.Title" />
                </div>
            </a>
        </div>
        <div class="content_header">
            <div class="content_1">
                <div class="content_2">
                    <div class="text-header">
                            <div class="titlePost">
                                <a>@Model.Title</a>
                            </div>
                            <div class="authorPost">
                                <p>@Model.Author</p>
                            </div>
                    </div>
                </div>
                <div action="descriptionPost" class="descriptionPost">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>
