@model WebApp.ViewModels.IndexViewModel

<h1 class="test">Index</h1>
@if (!User.Identity.IsAuthenticated)
{
    <a asp-controller="Account" asp-action="Login">Войти</a>
    <a asp-controller="Account" asp-action="Register">Регистрация</a>
}
@if (User.Identity.IsAuthenticated)
{
    <p>Вы вошли под именем @User.Identity.Name</p>
    <a asp-controller="Home" asp-action="CreatePost">Добавить</a><br />
    <form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>
    <a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a>
}

<h2>Список постов</h2>
<table>
    <tr><th>Title</th><th>Description</th><th>Author</th></tr>
    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Author</td>
            <td>
                <form asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                    <input type="submit" value="Details">
                </form>
            </td>
        </tr>
    }
</table>
<p>
    @if (Model.PagingInfo.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PagingInfo.PageNumber - 1)" >Назад</a>
    }
    @if (Model.PagingInfo.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PagingInfo.PageNumber + 1)" >Вперёд</a>
    }
</p>