@model IEnumerable<WebApp.Models.User>

<table>
    <tr><th>UserName</th><th>Email</th><th>Code</th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.UserState?.Code</td>
            @if (user.UserStateId == 1)
            {
                <td>
                    <form asp-controller="Home" asp-action="BlockedUser" asp-route-id="@user.Id" method="post">
                        <input type="submit" value="Заблокировать" />
                    </form>
                </td>
            }
            @if (user.UserStateId == 2)
            {
                <td>
                    <form asp-controller="Home" asp-action="UnblockedUser" asp-route-id="@user.Id" method="post">
                        <input type="submit" value="Разблокировать" />
                    </form>
                </td>
            }
        </tr>
    }
</table>

<a asp-controller="Home" asp-action="Index">Index</a>